.swal-button--confirm {
    background-color: #034889;
    color: #fff;
}

.swal-button--cancel {
    background-color: #dd3333;
    color: #fff;
}


.swal-button--confirm:hover {
    background-color: #033e75 !important;
}

.swal-button--cancel:hover {
    background-color: #cb2e2e !important;
}


.sidebar-full {
    width: 18rem;
}

.sidebar-half {
    width: 5rem;
}

.sidebar-full-image{
    width: 10rem;
}

.sidebar-half-image{
    width: 100%;
}

.sidebar-title {
    display: none;
    transition-duration: 300ms;
    transition: ease-in-out;
}